html {

    scroll-behavior: smooth;
}



#loading-div {
    display: flex;
    opacity: 1;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
}

#loader {
    width: 64px;
    height: 64px;
}

#loader-text {
    font-size: 40px;
}



/*
#loader {
    width: 128px;
    height: 128px;
    opacity: 0.4;
    border-radius: 50%;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
*/

/*
#loading-div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    z-index: 9999;
}*/



/*
p {
    margin: 0;
}
*/

/*code contrast*/
tr {
    /*    font-weight: bold;*/
    /*    filter: invert(0.70);*/
    /*    transition: all .4s ease-in;*/
    /*    border-color: var(--primary);*/

}

.toba-code:hover {

    font-weight: bold;

    /*    filter: invert(1);*/
    /*    transform: scale(1.02);*/
    /*    border-color: var(--primary);*/

}

.clang-code:hover {

    font-weight: bold;

}



table,
td {
    /*
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.08);
*/
}


/*
table,
th,
td {
    border-color: var(--primary);
    background-color: transparent;
}
*/


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    /*    background: var(--bg-transparent);*/
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--secondary);
}

/*
*::-webkit-scrollbar-button {
    background: var(--primary);
    width: 4px;
    height: 4px;
}
*/

*::-webkit-scrollbar-corner {
    background: inherit;
}


#navleft {
    display: inline-block;
    position: fixed;
    width: 22%;
    /*    width: auto;*/
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
}

.tobalogo {
    position: relative;
    top: 6px;
    left: 11px;
    z-index: 1;
}

.tobadoc {
    display: none;
    position: relative;
    top: 6px;
    left: 4px;
    z-index: 1;
    font-weight: bold;
}

#toc {
    position: relative;
    top: 10px;
    left: 6px;
    z-index: 99;
}


#navtop {
    display: none;
    background: inherit;
    position: fixed;
    height: 82px;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 99;
    border-bottom: 1px solid var(--secondary);
}

.drop-toc {
    background-color: rgba(var(--rgb), 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--secondary);
}

.doc-content {
    position: absolute;
    width: auto;
    left: 22%;
}

/*builtin functions*/
.BuiltinStyleCar {
    color: var(--primary);
    font-weight: bold;
    /*    font-size: 1.15em;*/
}

.NoteStyle {}


/*List of user errors*/
.ErrorStyle {
    padding-top: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width: 768px) {


    body {
        font-size: 0.7em;
    }

    #toc {
        overflow-y: auto;
    }

    #navleft {
        display: none;
    }

    .tobalogo {
        display: none;
    }

    .tobadoc {
        display: none;
    }

    #navtop {
        display: block;
        background: inherit;
        position: fixed;
        height: 82px;
        left: 0;
        top: 0px;
        z-index: 99;
    }

    .doc-content {
        position: relative;
        left: 0%;
        overflow-x: auto;
        margin-top: 85px;
    }



}
