p {
    margin: 0;
}

/*code contrast*/
tr {
    /*    font-weight: bold;*/
    filter: invert(0.70);
    transition: all .4s ease-in;
    /*    border-color: var(--primary);*/
    /*    transform-origin: 0 0*/
}


tr:hover {

    filter: invert(1);
    font-weight: bold;
    transition: all .4s ease-in;
    /*    text-transform: uppercase;*/

}



th,
td {
    padding: 15px;
    text-align: left;
}

table,
th,
td {
    /*    border: 1px solid black;*/
    border-color: var(--primary);
    background-color: transparent;
    /*    border-color: red;*/
}

body {
    margin-left: 30%;
    width: 65%;
    /*    -webkit-filter: "blur(4px)"*/
}

html {
    scroll-behavior: smooth;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #121214 #2e2e2e;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    /*    width: 12px;*/
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-transparent);
    /*    background: #121214;*/
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /*    border: 1px solid var(--primary);*/
    /*    background-color: var(--primary);*/
    background-color: var(--secondary);
}

#navleft {
    position: fixed;
    width: 25%;
    padding-right: 20px;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
}

.tobalogo {
    position: relative;
    top: 6px;
    left: 11px;
    z-index: 1;
}

.tobadoc {
    position: relative;
    top: 6px;
    left: 4px;
    z-index: 1;
    font-weight: bold;
}

#toc {
    position: relative;
    top: 10px;
    left: 6px;
    z-index: 1;
}
