html {

    scroll-behavior: smooth;
}


p {
    margin: 0;
}

/*code contrast*/
tr {
    /*    font-weight: bold;*/
    /*    filter: invert(0.70);*/
    /*    transition: all .4s ease-in;*/
    /*    border-color: var(--primary);*/

}

tr:hover {

    font-weight: bold;

    /*    filter: invert(1);*/
    /*    transform: scale(1.02);*/
    /*    border-color: var(--primary);*/

}



th,
td {
    padding: 2px;

}

/*
table,
th,
td {
    border-color: var(--primary);
    background-color: transparent;
}
*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #121214 #2e2e2e;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-transparent);
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--secondary);
}


#navleft {
    display: inline-block;
    position: fixed;
    width: 22%;
    /*    width: auto;*/
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
}

.tobalogo {
    position: relative;
    top: 6px;
    left: 11px;
    z-index: 1;
}

.tobadoc {
    display: none;
    position: relative;
    top: 6px;
    left: 4px;
    z-index: 1;
    font-weight: bold;
}

#toc {
    position: relative;
    top: 10px;
    left: 6px;
    z-index: 99;
}


#navtop {
    display: none;
    background: inherit;
    position: fixed;
    height: 82px;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 99;
    border-bottom: 1px solid var(--secondary);
}

.drop-toc {
    background-color: rgba(var(--rgb), 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--secondary);
}

.doc-content {
    position: absolute;
    width: auto;
    left: 22%;
}


@media screen and (max-width: 768px) {


    body {
        font-size: 0.7em;
    }

    #toc {
        overflow-y: auto;
    }

    #navleft {
        display: none;
    }

    .tobalogo {
        display: none;
    }

    .tobadoc {
        display: none;
    }

    #navtop {
        display: block;
        background: inherit;
        position: fixed;
        height: 82px;
        left: 0;
        top: 0px;
        z-index: 99;
    }

    .doc-content {
        position: relative;
        left: 0%;
        overflow-x: auto;
        margin-top: 85px;
    }



}
