html {
    /*    display: none;*/
    scroll-behavior: smooth;
}

.version {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    color: #0078ad;
    font-style: italic;
}

.nav-item-text {
    color: var(--primary);
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    /*    background: var(--bg-transparent);*/
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--secondary);
}

/*
*::-webkit-scrollbar-button {
    background: var(--primary);
    width: 4px;
    height: 4px;
}
*/

*::-webkit-scrollbar-corner {
    background: inherit;
}


#head {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head::before {
    content: "";
    background: url(../images/bg_header.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.head-content {
    position: relative;
    text-align: center;
    color: white;
}

.main-text1 {

    padding-top: 10%;
    font-size: 44px;
    color: white;
}

.main-text2 {
    /*    margin-bottom: 25%;*/
    /*    font-family: "Open sans", Helvetica, Arial;*/
    font-size: 30px;
    /*    text-shadow: 0 2px 0 rgba(55, 55, 55, 0.6);*/
}


#moreinfo {
    bottom: 0;
    border: 1px outset blue;
    background-color: lightBlue;
    cursor: pointer;
}

#moreinfo:hover {
    background-color: blue;
    color: white;
}

.button-header-sm {
    display: none;
}


/* Autohide navbar */
.slideUp {
    top: -100px;
}

.headroom {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


.startinfo {
    /*    margin-left: 20%;*/
}

.gstartimg {
    left: 5px;
    /*
    width: 20%;
    height: 100%;
*/
    position: absolute;
}

.codeviewer {
    height: 400px
}

.nohover {
    pointer-events: none;
}

/* Highlights (in jumbotron in most cases) */
.highlight {
    margin-top: 40px;
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    /*    color: #d10f19;*/
    margin-bottom: 36px;
}

.h-caption h4 {
    /*    color: #382526;*/
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h-body {}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open sans", Helvetica, Arial;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.thin {
    font-weight: 300;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
}

.text-muted {
    color: #888;
    text-align: justify;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li {
    margin-bottom: 10px;
}

/* Helpers */
.container-full {
    margin: 0 auto;
    width: 100%;
}

.top-space {
    margin-top: 60px;
}

.top-margin {
    margin-top: 20px;
}

img {
    max-width: 100%;
}

img.pull-right {
    margin-left: 10px;
}

img.pull-left {
    margin-right: 10px;
}

#map {
    width: 100%;
    height: 280px;
}

#social {
    margin-top: 50px;
    margin-bottom: 50px;
}

#social .wrapper {
    width: 340px;
    margin: 0 auto;
}

/* Main content block */
.maincontent {}

/* Sidebars */
.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;
}

.sidebar .widget {
    margin-bottom: 20px;
}

.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2,
.sidebar h3,
.sidebar .h3 {
    margin-top: 20px;
}

/* Footer */
.footer1 {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.footer1 a {
    color: #ccc;
}

.footer1 a:hover {
    color: #fff;
}

.footer1 .widget {
    margin-bottom: 30px;
}

.footer1 .widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

.footer1 .entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
}

.footer1 .entry-meta a {
    color: #333333;
}

.footer1 .entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.follow-me-icons {
    font-size: 30px;
}

.follow-me-icons i {
    float: left;
    margin: 0 10px 0 0;
}

.footer2 {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer2 a {
    color: #aaa;
}

.footer2 a:hover {
    color: #fff;
}

.footer2 p {
    margin: 0;
}

.widget-simplenav {
    margin-left: -5px;
}

.widget-simplenav a {
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    #head {
        /*        min-height: 420px;*/
        /*        padding-top: 160px;*/
    }

    .main-text1 {
        font-size: 30px;
        /*        margin-top: -40%;*/
        /*        margin-top: -60%;*/
        /*        margin-bottom: 5%;*/
    }

    .button-header-sm {
        display: inline;
    }

    .button-header-lg {
        display: none;
    }
}
